<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <section>
        <div class="bg-white  ">
            <div class="relative isolate overflow-hidden bg-gradient-to-b from-gray-200/50 ">
                <div
                    class="mx-auto   max-w-7xl pb-24 pt-10 sm:pb-32 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:px-8 lg:py-40">
                    <div class="px-6 lg:px-0 lg:pt-4 ">
                        <div class="mx-auto max-w-2xl  ">
                            <div class="max-w-lg ">

                                <div class="mt-24 sm:mt-32 lg:mt-16">
                                    <a href="#" class="inline-flex space-x-6">
                                        <img class="h-11 "
                                            src="https://res.cloudinary.com/dtsuvx8dz/image/upload/v1713098667/h9rdveukfprcd4fazrlr.png"
                                            alt="Your Company">
                                        <span
                                            class="inline-flex items-center space-x-2 text-sm  leading-6 text-gray-600 font-mono tracking-wide">
                                            <span><span class="font-semibold">CONCEPT4 </span>| <span
                                                    class="text-transparent bg-clip-text bg-gradient-to-t from-rose-400 via-fuchsia-500 to-indigo-500 font-bold">Multi
                                                    Document Chatbot</span></span>
                                            <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor"
                                                aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                                <h1 class="mt-10 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">Converse
                                    with Ease: Your Multi-Document Chatbot Companion</h1>
                                <p class="mt-6 text-lg leading-8 text-gray-600">Unlock the power of conversational AI to
                                    effortlessly navigate through multiple documents. Simplify research, streamline
                                    information retrieval, and elevate productivity with our intuitive chatbot interface
                                </p>
                                <!-- <div class="mt-10 flex items-center gap-x-6">
                                <a href="#"
                                    class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Documentation</a>
                                <a href="#" class="text-sm font-semibold leading-6 text-gray-900">View on GitHub <span
                                        aria-hidden="true">→</span></a>
                            </div> -->
                            </div>
                        </div>
                    </div>
                    <div
                        class="mt-20 sm:mt-64 md:mx-auto md:max-w-2xl lg:mx-0 lg:mt-0 lg:w-screen flex justify-center items-center ">



                        <img src="https://res.cloudinary.com/dtsuvx8dz/image/upload/v1712987021/ghzgwi4mxevqrt0lxefw.png"
                            class="drop-shadow-2xl" height="350" width="350" alt="">




                        <div class="pointer-events-none absolute inset-0 ring-1 ring-inset ring-black/10 md:rounded-3xl"
                            aria-hidden="true"></div>

                    </div>
                    <div class="absolute inset-x-0 bottom-0 -z-10 h-24 bg-gradient-to-t from-white sm:h-32"></div>
                </div>
            </div>
    </section>
    <section class="  ">
        <div
            class="space-y-5 divide-y divide-gray-900/10 max-w- flex  justify-center bg-gradient-to-t from-gray-900/5 py-12">

            <div class="grid grid-cols-1 gap-x-8 gap-y-8 pt-4 md:grid-cols-3 ">
                <div class="px-4 sm:px-0">
                    <h2
                        class="text-2xl font-bold leading-7 text-transparent bg-clip-text bg-gradient-to-tl from-rose-400 via-fuchsia-500 to-indigo-500 ">
                        Multi Document Chatbot</h2>
                    <p class="mt-1 text-md leading-6 text-gray-600">Please provide accurate information to Chatbot.</p>
                    <img src="https://res.cloudinary.com/dtsuvx8dz/image/upload/v1712990769/rp7adpujhtdh6d7odlir.png"
                        width="300" height="300" alt="">
                </div>

                <form action="" , method="post" class="  sm:rounded-xl md:col-span-2 drop-shadow-md ">
                    <div class="px-4 py-6 sm:p-8 bg-white shadow-sm">

                        <div class="grid max-w-2xl ">
                            <div class="sm:col-span-4">
                                <label for="question" class="block text-sm font-medium leading-8 text-gray-900">Ask a
                                    Question</label>
                                <div class="mt-2 ">
                                    <input type="question" name="question"
                                        class="pl-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6">
                                </div>
                            </div>
                        </div>

                    </div>


                    <div
                        class="flex bg-white shadow-sm items-start justify-start gap-x-6 border-t border-gray-900/10 w-3xl py-4 sm:px-8">

                        <input type="submit" value="submit" ,
                            class="rounded-md bg-gradient-to-tr from-rose-400 via-fuchsia-500 to-indigo-500 px-3 py-3 text-sm font-base text-white shadow-sm hover:bg-pink-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 w-40 "></input>
                    </div>
                </form>
            </div>


        </div>
        <div class="flex flex-col items-center  justify-center bg-gradient-to-b from-gray-900/5 py-2">
            <div class="bg-white drop-shadow-2xl w-full sm:w-4/6 my-2  text-xs sm:text-xl p-2 sm:p-4 text-justify">
                <p>
                    {{result}}
                </p>
            </div>

            <div class="bg-white drop-shadow-2xl w-full sm:w-4/6  text-xl sm:p-4">

                <embed class="pdf" src={{source_document}} width="100%" height="1000">

            </div>



        </div>


    </section>

</body>

</html>